################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Source/src/Console/obj/Debug/netcoreapp1.0
